*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    width: 750px;
    margin: 20px auto;
    display: flex;
    list-style: none;
    background: red;
}

.menu li {
    width: 100%;
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    display: block;
    line-height: 50px;
}

.menu li::before {
    content: "";
    width: 0%;
    height: 5px;
    background: blue;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s;
}

.menu li:hover::before {
    width: 100%;
}

.snav, .ssnav {
    list-style: none;
    position: absolute;
    left: 0;
    top: 130%;
    background: red;
    width: 100%;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.menu li:hover .snav {
    top: 100%;
    visibility: visible;
    opacity: 1;
}

.snav > li a {
    font-size: 14px;
}

.ssnav {
    top: 0;
    left: 130%;
}

.snav >li:hover .ssnav {
    left: 100%;
    visibility: visible;
    opacity: 1;
}